.main-error {
	background: url("../images/top-vectors.svg"), linear-gradient(113.97deg, #00A6CE 6.6%, #0856A8 65.21%);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.error {
    padding: 112px 0;
}

.error__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 928px;
    color: #fff;
    text-align: center;
}

.error__img {
    margin-bottom: 56px;
    width: 100%;
    max-width: 560px;
}

.error__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 64px;
}

.error__description {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 30px;
}

@media screen and (max-width: 1684px) {
	.main-error {
		background-size: initial;
	}
}

@media screen and (max-width: 1024px) {
	.main-error {
		background: linear-gradient(113.97deg, #00A6CE 6.6%, #0856A8 65.21%);
	}

    .error {
        padding: 112px 0 88px;
    }

    .error__wrapper {
        max-width: 564px;
    }
}

@media screen and (max-width: 592px) {
    .error {
        padding: 48px 0;
    }

    .error__title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 44px;
    }

    .error__description {
        font-size: 16px;
        line-height: 24px;
    }

    .error__button {
        width: 100%;
    }
}