.main-event-agenda {
	background: url("../images/top-vectors.svg"), linear-gradient(114.71deg, #0856A8 3.58%, #00A6CE 95.4%);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.event-agenda {
	padding: 112px 0 160px;
}

.event-agenda__title {
	margin-bottom: 80px;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #fff;
}

.event-agenda__items {
	margin: 0 auto;
	width: 100%;
	max-width: 936px;
}

.event-agenda__item {
	border-top: 8px solid #5fc1e8;
	border-radius: 3px;
	padding: 48px 56px 56px;
	box-shadow: 0 7px 25px 0 rgba(85, 85, 85, 0.15);
	background: #fff;
}

.event-agenda__item:not(:last-child) {
	margin-bottom: 48px;
}

.event-agenda__item-date {
	margin-bottom: 32px;
	font-size: 24px;
	line-height: 36px;
	color: #8bb825;
}

.event-agenda__item-rows {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.event-agenda__item-row {
	display: flex;
	font-size: 20px;
	line-height: 30px;
	color: #333;
}

.event-agenda__item-hour {
	margin-right: 32px;
	font-weight: 700;
}

@media screen and (max-width: 1684px) {
	.main-event-agenda {
		background-size: initial;
	}
}

@media screen and (max-width: 1024px) {
	.main-event-agenda {
		background: linear-gradient(114.71deg, #0856A8 3.58%, #00A6CE 95.4%);
	}

	.event-agenda {
		padding: 88px 0;
	}

	.event-agenda__title {
		margin-bottom: 64px;
	}
}

@media screen and (max-width: 592px) {
	.event-agenda {
		padding: 48px 0 72px;
	}

	.event-agenda__title {
		margin-bottom: 36px;
		font-size: 32px;
		line-height: 44px;
	}

	.event-agenda__item {
		padding: 24px 24px 32px;
	}

	.event-agenda__item:not(:last-child) {
		margin-bottom: 32px;
	}

	.event-agenda__item-date {
		font-size: 16px;
		line-height: 24px;
	}

	.event-agenda__item-rows {
		gap: 32px;
	}

	.event-agenda__item-row {
		flex-direction: column;
		font-size: 16px;
		line-height: 24px;
	}

	.event-agenda__item-hour {
		margin: 0 0 8px;
	}
}