@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style-type: none;
}

button {
	background-color: transparent;
	border: none;
	font-family: inherit;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

.button {
	display: inline-flex;
	justify-content: center;
	border-radius: 28px;
	padding: 19px 24px;
	font-size: 13px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #FF6F3D;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #FF865C;
}

.button.button--primary {
	color: #333333;
	background-color: #FFFFFF;
}

.button.button--primary:hover {
	background-color: #E6EFF2;
}

.button.button--secondary {
	background-color: #0A5DAC;
}

.button.button--secondary:hover {
	background-color: #1572CA;
}

.button.button--tertiary {
	background-color: #8BB825;
}

.button.button--tertiary:hover {
	background-color: #9FCC3A;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}

.container {
	max-width: 1488px;
	z-index: 1;
	position: relative;
	margin: 0 auto;
	padding: 0 40px;
}

.header {
	background-color: #333;
	z-index: 2;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 96px;
}

.header__logo {
	display: inline-flex;
	margin-right: 16px;
}

.header__links {
	display: flex;
	align-items: center;
}

.header__menu {
	display: flex;
	margin-right: 48px;
}

.header__menu li a {
	display: inline-flex;
	padding: 38px 0;
}

.header__menu-item {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
	transition: 0.3s ease;
}

.header__menu-item:not(:last-child) {
	margin-right: 56px;
}

.header__menu-item.active a {
	padding: 38px 0 37px;
	color: #ff6f3d;
	border-bottom: 1px solid #ff6f3d;
}

.header__menu-item a:hover {
	color: #ff6f3d;
}

.header__register-btn-mobile {
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 10px 10px;
	width: 48px;
	height: 48px;
	background-color: #FF6F3D;
	background-image: url("../images/register.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.header__register-btn-pc {
	border-radius: 24px;
	padding: 15px 24px;
}

.footer {
	background-color: #333;
	border-top: 1px solid #666;
	z-index: 2;
}

.footer__inner {
	height: 96px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__logo {
	display: inline-flex;
	margin-right: 16px;
}

.footer__menu {
	display: flex;
	align-items: center;
}

.footer__menu li a {
	padding: 38px 0;
}

.footer__menu-item {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	transition: 0.3s ease;
}

.footer__menu-item:not(:last-child) {
	margin-right: 56px;
}

.footer__header__links {
	display: none;
}

.footer__menu-item:hover {
	color: #ff6f3d;
}

@media screen and (max-width: 1024px) {
	.header__menu {
		margin-right: 24px;
	}

	.header__menu-item:not(:last-child),
	.footer__menu-item:not(:last-child) {
		margin-right: 32px;
	}

	.header__register-btn-pc {
		display: none;
	}

	.header__register-btn-mobile {
		display: flex;
	}
}

@media screen and (max-width: 767px) {
	.container {
		padding: 0 16px;
	}
}

@media screen and (max-width: 592px) {
	.button {
		padding: 15px 24px;
	}

	.header__inner {
		height: 72px;
	}

	.header__menu {
		display: none;
	}

	.footer__inner {
		flex-direction: column;
		align-items: initial;
		padding: 22px 0 34px;
		height: initial;
	}

	.footer__logo {
		align-self: start;
		margin: 0 0 40px;
	}

	.footer__logo img {
		width: 163px;
		height: 28px;
	}

	.footer__menu {
		flex-direction: column;
		align-items: initial;
	}

	.footer__menu-item:not(:last-child) {
		margin: 0 0 32px;
	}

	.footer__menu li a {
		display: flex;
		padding: 0;
	}

	.footer__header__links {
		display: block;
	}
}