.hero {
	background: url("../images/hero-bg.svg"), linear-gradient(90deg, #2E93C6 0%, #004382 100%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.hero-icon {
	position: absolute;
}

.left-top-icon {
	top: 154px;
	left: -69px;
	width: 133px;
	height: 125px;
	background-image: url("../images/left-top-icon.svg");
}

.left-center-icon {
	top: 511px;
	left: -27px;
	width: 24px;
	height: 27px;
	background-image: url("../images/left-center-icon.svg");
}

.left-bottom-icon {
	top: 644px;
	left: 3px;
	width: 64px;
	height: 65px;
	background-image: url("../images/left-bottom-icon.svg");
}

.right-top-icon {
	top: 125px;
	right: 20px;
	width: 26px;
	height: 26px;
	background-image: url("../images/right-top-icon.svg");
}

.right-center-icon {
	top: 248px;
	right: -23px;
	width: 120px;
	height: 134px;
	background-image: url("../images/right-center-icon.svg");
}

.right-center-fill-icon {
	top: 542px;
	right: 102px;
	width: 82px;
	height: 82px;
	background-image: url("../images/right-center-fill-icon.svg");
}

.right-bottom-icon {
	top: 704px;
	right: 3px;
	width: 27px;
	height: 26px;
	background-image: url("../images/right-bottom-icon.svg");
}

.hero__inner {
	padding: 173px 0 264px;
	text-align: center;
	z-index: 2;
	position: relative;
}

.hero__title {
	font-size: 80px;
	line-height: 109px;
	color: #fff;
	margin-bottom: 16px;
}

.hero__subtitle {
	margin-bottom: 64px;
	font-weight: 400;
	font-size: 40px;
	line-height: 54px;
	color: #fff;
}

.hero__date {
	margin-bottom: 64px;
	font-size: 20px;
	font-weight: 700;
	line-height: 32px;
	color: #fff;
}

.hero__date span {
	font-weight: 400;
}

.hero__register {
	border-radius: 28px;
	padding: 19px 24px;
	background: #fff;
	font-weight: 600;
	font-size: 13px;
	line-height: 133%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-align: center;
	color: #333;
	display: inline-block;
	transition: 0.3s ease;
}

.hero__register:hover {
	background: #e6eff2;
}

.members {
	padding: 160px 0;
	background: #333;
}

.members_container.container {
	max-width: 1248px;
}

.members__items {
	display: flex;
	gap: 80px 176px;
	flex-wrap: wrap;
	justify-content: center;
}

.members__item {
	padding-top: 192px;
	width: 160px;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	letter-spacing: 0.03em;
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-size: 160px 160px;
}

.agenda-event {
	overflow: hidden;
	background: #fff;
	position: relative;
}

.agenda-event__inner {
	padding: 175px 0 145px;
	text-align: center;
	position: relative;
	z-index: 10;
}

.agenda-event__title,
.sponsors__title {
	font-size: 48px;
	line-height: 64px;
	color: #333;
}

.agenda-event__subtitle,
.sponsors__subtitle {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #333;
	margin: 24px 0 56px;
}

.agenda-event__img,
.sponsors__img {
	max-width: 736px;
	margin: 0 auto;
	margin-bottom: 56px;
}

.agenda-event__img img,
.sponsors__img img {
	width: 100%;
}

.agenda-event__link,
.sponsors__link {
	border-radius: 28px;
	padding: 19px 24px;
	display: inline-block;
	transition: 0.3s ease;
}

.agenda-event__link {
	background: #8bb825;
}

.agenda-event__link:hover {
	background: #9fcc3a;
}

.agenda-icon {
	position: absolute;
}

.agenda-left-top-icon {
	top: 185px;
	left: -58px;
	width: 64px;
	height: 65px;
	background-image: url("../images/agenda-left-top-icon.svg");
}

.agenda-left-center-icon {
	top: 343px;
	left: 35px;
	width: 25px;
	height: 27px;
	background-image: url("../images/agenda-left-center-icon.svg");
}

.agenda-left-bottom-icon {
	top: 631px;
	left: -70px;
	width: 133px;
	height: 120px;
	background-image: url("../images/agenda-left-bottom-icon.svg");
}

.agenda-right-top-icon {
	top: 157px;
	right: -45px;
	width: 120px;
	height: 134px;
	background-image: url("../images/agenda-right-top-icon.svg");
}

.agenda-right-center-icon {
	top: 551px;
	right: -15px;
	width: 83px;
	height: 82px;
	background-image: url("../images/agenda-right-center-icon.svg");
}

.agenda-right-bottom-icon {
	top: 710px;
	right: -47px;
	width: 27px;
	height: 26px;
	background-image: url("../images/agenda-right-bottom-icon.svg");
}

.sponsors__link {
	background: #0a5dac;
}

.sponsors__link:hover {
	background: #1572ca;
}

.agenda-event__link button,
.sponsors__link button {
	font-weight: 600;
	font-size: 13px;
	line-height: 133%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border: none;
}

.sponsors {
	padding: 204px 0 156px;
	text-align: center;
	background-color: #f5f5f5;
}

.editions {
	padding: 160px 0;
	text-align: center;
	background: url("../images/summit-bg.svg"), linear-gradient(90deg, #0A66A7 20.58%, #1160AC 81.12%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}

.editors__title {
	margin-bottom: 48px;
	font-size: 48px;
	line-height: 64px;
}

.editors__subtitle {
	font-size: 32px;
	line-height: 48px;
	margin-bottom: 24px;
}

.editors__info {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 72px;
}

.editors__content {
	border-radius: 8px;
	max-width: 568px;
	width: 100%;
	height: 300px;
	box-shadow: 0 7px 25px 0 rgba(85, 85, 85, 0.15);
	background: #0060cf;
	margin: 0 auto;
}

.registration-section {
	padding: 155px 0 154px;
	background-color: #333;
}

.registration-section__inner {
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: center;
	color: #fff;
	text-align: center;
}

.registration-section__title {
	font-size: 48px;
	line-height: 64px;
}

.registration-section__text {
	font-size: 20px;
	line-height: 30px;
}

@media screen and (max-width: 1024px) {
	.hero__inner {
		padding: 112px 0;
	}

	.hero__title {
		line-height: 72px;
		line-height: 98px;
	}

	.hero__subtitle {
		font-size: 32px;
		line-height: 44px;
	}

	.members,
	.agenda-event__inner,
	.sponsors,
	.editions,
	.registration-section {
		padding: 148px 0;
	}

	.members__items {
		gap: 80px 112px;
	}

	.hero-icon,
	.agenda-icon {
		display: none;
	}
}

@media screen and (max-width: 592px) {
	.hero__title {
		margin-bottom: 24px;
		font-size: 40px;
		line-height: 54px;
	}

	.hero__subtitle {
		margin-bottom: 48px;
		font-size: 24px;
		line-height: 33px;
	}

	.hero__date {
		margin-bottom: 48px;
		font-size: 16px;
		line-height: 28px;
	}

	.members__item {
		font-size: 16px;
		line-height: 24px;
	}

	.agenda-event__subtitle,
	.sponsors__subtitle {
		margin: 24px 0 40px;
		font-size: 16px;
		line-height: 24px;
	}

	.agenda-event__img, 
	.sponsors__img {
		margin-bottom: 40px;
	}

	.sponsors__button {
		width: 100%;
	}

	.hero__inner,
	.members,
	.agenda-event__inner,
	.sponsors,
	.editions,
	.registration-section {
		padding: 72px 0;
	}

	.editors__title {
		margin-bottom: 40px;
		font-size: 32px;
		line-height: 43px;
	}

	.editors__subtitle {
		font-size: 20px;
		line-height: 30px;
	}

	.editors__info {
		margin-bottom: 40px;
		font-size: 16px;
		line-height: 24px;
	}

	.registration-section__title,
	.agenda-event__title,
	.sponsors__title {
		font-size: 32px;
		line-height: 43px;
	}

	.registration-section__text {
		font-size: 16px;
		line-height: 24px;
	}

	.hero__button,
	.agenda-event__button,
	.registration-section__button {
		width: 100%;
	}
}
